<!--<td-layout-nav logo="assets:jd-logo-portrait">-->
<td-layout-nav>
    <div td-toolbar-content layout="row" layout-align="center center" flex class="tc-white-4">
        <span>京东商城-商城研发部-基础服务组</span>
        <span flex></span>
        <!--<a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>-->
    </div>
    <td-layout-manage-list #manageList
                           [opened]="media.registerQuery('gt-sm') | async"
                           [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                           [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
        <md-toolbar td-sidenav-content>
            <span>控制面板</span>
            <button md-icon-button
                    *ngIf="manageList.opened"
                    (click)="manageList.close()">
                <md-icon>arrow_forward</md-icon>
            </button>
        </md-toolbar>
        <md-nav-list td-sidenav-content (click)="!media.query('gt-sm') && manageList.close()">
            <ng-template let-typeId let-last="last" let-index="index" ngFor [ngForOf]="typeIds">
                <a md-list-item md-ripple class="block relative"
                   (click)="!media.query('gt-sm') && manageList.close()"
                   [routerLinkActive]="['active']"
                   [routerLinkActiveOptions]="{exact:false}"
                   [routerLink]="['/home/config/' + typeId +'/edit']">
                    <md-icon md-list-icon>settings_applications</md-icon>
                    <span>{{typeId}} 配置项管理</span>
                </a>
            </ng-template>
        </md-nav-list>
        <div td-toolbar-content layout="row" layout-align="start center" flex>
            <span>配置项列表</span>
            <span flex></span>
        </div>
        <router-outlet></router-outlet>
    </td-layout-manage-list>
</td-layout-nav>
